
<% layout("/layouts/boilerplate.ejs")%>

<div class="row mt-3">
    <div class="col-8 offset-2">
        <h2>Create a new Listing</h2>
        <form method="post" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="title" class="form_label">Title</label>
                <input name="listing[title]" type="text" placeholder="Add Catchy Title" class="form-control" required>
                <div class="valid-feedback">Title looks good!</div>
            </div>
            <div class="mb-3">
                <label for="description" class="form_label">Description</label>
                <textarea 
                name="listing[description]" 
                placeholder="Enter description" 
                class="form-control" 
                required
                ></textarea>
                <div class="invalid-feedback">pls enter a short Description</div>
            </div>
            
            <div class="mb-3">
                <label for="category" class="form-label">Category</label>
                <select id="category" name="listing[category]" class="form-select styled-select" required>
                    <option value="">Select a category</option>
                    <option value="Trending">Trending</option>
                    <option value="Rooms">Rooms</option>
                    <option value="Iconic Cities">Iconic Cities</option>
                    <option value="Amazing pools">Amazing Pools</option>
                    <option value="Mountains">Mountains</option>
                    <option value="Castles">Castles</option>
                    <option value="Camping">Camping</option>
                    <option value="Farms">Farms</option>
                    <option value="Arctic">Arctic</option>
                    <option value="Dome">Dome</option>
                    <option value="Boats">Boats</option>
                </select>
            </div>


            <!-- <div class="mb-3">
                <label for="image" class="form_label">Image</label>
                <input name="listing[image]" type="text" placeholder="Enter image URL/Link" class="form-control">
            </div> -->

            <div class="mb-3">
                <label for="image" class="form_label">Upload Listing Image</label>
                <input name="listing[image]" type="file" class="form-control">
            </div>

            <div class="row">
                <div class="mb-3 col-md-4">
                <label for="price" class="form_label">Price</label>
                <input name="listing[price]"  placeholder="Enter price" class="form-control" required>
                <div class="invalid-feedback">price should be valid</div>
            </div>
            <div class="mb-3 col-md-8">
                <label for="country" class="form_label">Country</label>
                <input name="listing[country]" type="text" placeholder="Enter country" class="form-control" required>
                <div class="invalid-feedback">Country name should be valid!</div>
            </div>
            </div>
            
            <div class="mb-3">
                <label for="location" class="form_label">Location</label>
                <input name="listing[location]" type="text" placeholder="Enter location" class="form-control" required>
                <div class="invalid-feedback">Location should be valid!</div>
            </div>
            <button class="btn btn-dark add-btn edit-btn mt-3 mb-5" >Add</button>
        </form>
    </div>
</div>